@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.pic {
	border-radius: 30px;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.shift {
	margin-left: 20px;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #00274c;
}

.navbar.sticky {
	padding: 15px 0;
	background: #00274c;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.pic1{
	width: 40%;
	left: 2%;
	position: relative;
}

.information{
	width: 52%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	right: 2%;
}

.shift {
	margin-left: 20px;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.pic2 {
	width: 50%;
	position: relative;
	right: 2%;
}

/*.pic3 {
	width: 25%;
	position: relative;
	right: 2%;
}*/

.pic4 {
	width: 50%;
	position: relative;
	right: 2%;
}

.pic5 {
	width: 31%;
	position: relative;
	right: 2%;
}

.pic6 {
	width: 47%;
	position: relative;
	left: 2%;
}

.pic7 {
	width: 47%;
	position: relative;
	right: 2%;
}

.pic8 {
	top: 30px;
	width: 45%;
	position: relative;
	right: 2%;
}

.potentiometer {
	width: 45%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	left: 2%;
}

.filters_about_2 {
	width: 45%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	left: 2%;
}

.filters_about {
	width: 45%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	left: 2%;
}

.op_amp {
	width: 23%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	left: 2%;
}

.conclusion {
	width: 40%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	left: 2%;
}

.pic9 {
	width: 50%;
	position: relative;
	right: 2%;
}


@media (max-width: 1200px){
	.potentiometer, .pic8, .pic1, .information{
		flex: 100%;
		left: 0%;
		right: 0%;
	}
	.potentiometer, .information {
		padding: 15px;
	}
}

@media (max-width: 900px) {
	.conclusion, .pic9, .op_amp, .pic6, .pic7, .filters_about_2, .pic4, .pic5, .pic2, .pic3, .filters_about {
		flex: 100%;
		left: 0%;
		right: 0%;
	}

	.conclusion, .op_amp, .filters_about_2, .filters_about {
		padding: 15px;
	}
}

@media (max-width: 750px) {
	.top_info {
		top: 80px;
	}

	.navbar .logo a{
		color: #fff;
		font-size: 16px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 12px;

	}
}